extends layout.pug

block title
  h1(style="margin-bottom: 0;")
    a(href='..') &lt;
    | #{config.siteTitle}
  p= lang('ADMIN_USER_EDIT_EDITING_USER', user.displayName || user._id)

block content
  .columns
    .column
      //- if user.signupToken
      //-   - const signupLink = `${_CC.config.base}confirm-account/${user.signupToken}`
      //-   .box(style='overflow: hidden;')
      //-     .columns(style='margin-bottom: 0;')
      //-       .column.is-narrow(style='padding-bottom: 0;')
      //-         h2= lang('ADMIN_USER_EDIT_CONFIRMATION_LINK')
      //-       .column(style='padding-bottom: 0;')
      //-         p
      //-           span= lang('ADMIN_USER_EDIT_ACCOUNT_UNCONFIRMED')
      //-           br
      //-           if user.expiry > new Date().getTime()
      //-             span= lang('ADMIN_USER_EDIT_LINK_EXPIRY_FUTURE', _CC.moment(user.expiry).fromNow())
      //-           else
      //-             span.has-text-weight-bold(style='color: red;')= lang('ADMIN_USER_EDIT_LINK_EXPIRY_PAST', _CC.moment(user.expiry).fromNow())
      //-     h3(style='margin-bottom: 0; margin-top: 0;')
      //-       .level
      //-         .level-left
      //-           .level-item
      //-             form(method='POST', action=`${_CC.config.base}admin-settings/edit/refresh-signup-token/${user._id}`)
      //-               input.button.is-rounded(type='submit', value=lang('ADMIN_USER_EDIT_GENERATE_NEW_LINK'))
      //-           .level-item
      //-             a(href=signupLink, style='font-family: monospaced; word-break: break-all;')= signupLink
      .columns
        //- .column.is-narrow
        //-   h2= lang('ADMIN_USER_EDIT_CHANGE_NAME')
        //-   form(action=`${_CC.config.base}admin-settings/edit/rename/${user._id}`, method='POST')
        //-     .field
        //-       label.label= lang('ADMIN_USER_EDIT_USERNAME')
        //-       .control.has-icons-left
        //-         input.input(type='text', name='newUsername', placeholder=user._id, value=user._id)
        //-         span.icon.is-small.is-left
        //-           i.fas.fa-user
        //-     .field
        //-       .control
        //-         input.button.is-primary(type='submit' value=lang('ADMIN_USER_EDIT_CHANGE_USERNAME'))
        .column.is-narrow
          h2= lang('ADMIN_USER_EDIT_GROUPS')
          each group in groups
            span.is-size-6.inline= group.displayName
            if user.groups.includes(group._id)
              form(action=`${_CC.config.base}admin-settings/edit/${user._id}/remove-group/${group._id}`, method='POST')
                .field
                  .control
                    input.button(type='submit', value=lang('ADMIN_USER_EDIT_GROUPS_REMOVE'))
            else
              form(action=`${_CC.config.base}admin-settings/edit/${user._id}/add-group/${group._id}`, method='POST')
                .field
                  .control
                    input.button(type='submit', value=lang('ADMIN_USER_EDIT_GROUPS_ADD'))
            br
          p.is-marginless= lang('ADMIN_USER_EDIT_GROUPS_CREATE_HEADER', user.displayName || user._id)
          form(action=`${_CC.config.base}admin-settings/edit/${user._id}/create-and-add-group`, method='POST')
            .field
              label.label= lang('ADMIN_USER_EDIT_GROUPS_CREATE_DISPLAY_NAME')
              .control.has-icons-left
                input.input(type='text', name='displayName', placeholder=lang('ADMIN_USER_EDIT_GROUPS_CREATE_DISPLAY_NAME_PLACEHOLDER'))
                span.icon.is-small.is-left
                  i.fas.fa-user
            .field
              .control
                input.button.is-primary(type='submit', value=lang('ADMIN_USER_EDIT_GROUPS_CREATE'))

        .column.is-narrow
          h2= lang('ADMIN_USER_EDIT_ADMIN')
          //- Yes, ternary exists, but I think the code is cleaner with a more "naive" style :)
          //- p.is-marginless #{user._id} is #{user.admin ? '' : 'not '}an admin.
          //- vs.
          if user.admin
            p.is-marginless= lang('ADMIN_USER_EDIT_ADMIN_ISADMIN', user.displayName || user._id)
            form(action=`${_CC.config.base}admin-settings/edit/demote/${user._id}`, method='POST')
              .field
                .control
                  if user._id === req.user._id
                    input.input.button(disabled, type='submit', value=lang('ADMIN_USER_EDIT_DEMOTE_SELF'), style='margin-top: 1em;')
                  else
                    input.input.button(type='submit', value=lang('ADMIN_USER_EDIT_DEMOTE', user._id), style='margin-top: 1em;')
          else
            p.is-marginless= lang('ADMIN_USER_EDIT_ADMIN_NOTADMIN', user.displayName || user._id)
            form(action=`${_CC.config.base}admin-settings/edit/promote/${user._id}`, method='POST')
              .field
                .control
                  input.input.button(type='submit', value=lang('ADMIN_USER_EDIT_PROMOTE', user.displayName || user._id), style='margin-top: 1em;')

        .column.is-narrow
          h2= lang('ADMIN_USER_EDIT_MANAGERS')
          if user.isManaged
            p.is-marginless= lang('ADMIN_USER_EDIT_MANAGED_STATUS', user.displayName || user._id)
            if user.managers && user.managers.length > 0
              each manager in user.managers
                .field.is-grouped
                  .control
                    span.is-size-6= manager.userId
                    | &nbsp;(
                    span.tag(class=manager.level === 'full' ? 'is-danger' : 'is-info')= manager.level
                    | )
                  .control
                    form(action=`${_CC.config.base}admin-settings/edit/${user._id}/remove-manager/${manager.userId}`, method='POST', style='display: inline;')
                      input.button.is-small.is-danger(type='submit', value=lang('ADMIN_USER_EDIT_MANAGERS_REMOVE'))
                  .control
                    if manager.level === 'full'
                      form(action=`${_CC.config.base}admin-settings/edit/${user._id}/change-manager-level/${manager.userId}/collaborator`, method='POST', style='display: inline;')
                        input.button.is-small.is-info(type='submit', value=lang('ADMIN_USER_EDIT_MANAGERS_MAKE_COLLABORATOR'))
                    else
                      form(action=`${_CC.config.base}admin-settings/edit/${user._id}/change-manager-level/${manager.userId}/full`, method='POST', style='display: inline;')
                        input.button.is-small.is-danger(type='submit', value=lang('ADMIN_USER_EDIT_MANAGERS_MAKE_FULL'))
            else
              p.is-size-7= lang('ADMIN_USER_EDIT_NO_MANAGERS')
          else
            p.is-marginless= lang('ADMIN_USER_EDIT_NOT_MANAGED', user.displayName || user._id)
          
          form(action=`${_CC.config.base}admin-settings/edit/${user._id}/add-manager`, method='POST')
            .field
              label.label= lang('ADMIN_USER_EDIT_MANAGERS_ADD_USER')
              .control
                .select
                  select(name='managerId')
                    each potentialManager in users.filter(u => u.doc._id !== user._id && !user.managers?.some(m => m.userId === u.doc._id))
                      option(value=potentialManager.doc._id)= potentialManager.doc.displayName || potentialManager.doc._id
            .field
              label.label= lang('ADMIN_USER_EDIT_MANAGERS_LEVEL')
              .control
                .select
                  select(name='level')
                    option(value='full')= lang('ADMIN_USER_EDIT_MANAGERS_LEVEL_FULL')
                    option(value='collaborator')= lang('ADMIN_USER_EDIT_MANAGERS_LEVEL_COLLABORATOR')
            .field
              .control
                input.button.is-primary(type='submit', value=lang('ADMIN_USER_EDIT_MANAGERS_ADD'))

        .column.is-narrow
          h2= lang('ADMIN_USER_EDIT_DELETE_HEADER')
          form(method='POST', action=`${_CC.config.base}admin-settings/edit/remove/${user._id}`)
            .field
              .control
                if user.admin
                  input.button.is-danger(disabled, type='submit' value=lang('ADMIN_USER_EDIT_DELETE_ADMIN'))
                else
                  input.button.is-danger(type='submit' value=lang('ADMIN_USER_EDIT_DELETE_USER', user.displayName || user._id))